body
{
  padding-top: 50px;
  overflow-x: hidden;
}

footer
{
  text-align: center;
  font-style: oblique;
  color: white;
  max-height: 140px;
  padding-bottom: 10px;
}

@media (max-width: 767px)
{
    .pad
    {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
}

.parallax
{
  min-height: calc(100vh - 50px);
  padding-top: 30vmin;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-bottom: 0;
}

.about
{
  text-align: center;
  margin: 0;
  z-index: 1;
  padding-top: 0px !important;
}

.propic
{
  transform: translateY(-75px);
  z-index: 2;
  margin-bottom: 0px;
}

.nearcity
{
  transform: translateY(44vh);
  min-width: 100%;
  object-fit: cover;
  min-height: 56vh;
  position: absolute;
  overflow-x: hidden;
  display: block;
  z-index: -2;
  filter: blur(.7px);
}

.midcity
{
  --shift: 22vh;
  margin-top: var(--shift);
  min-width: 100%;
  object-fit: cover;
  min-height: 78vh;
  position: fixed;
  overflow-x: hidden;
  display: block;
  z-index: -3;
  filter: blur(.8px);
}

.farcity
{
  --shift: 0;
  margin-top: var(--shift);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: inherit;
  position: fixed;
  overflow-x: hidden;
  display: block;
  z-index: -4;
  filter: blur(.9px);
}

.well
{
  text-align: right;
  background: #dddddd;
  border-color: #c9c9c9;
}

.projects
{
  margin-left: -6%;
  margin-bottom: 0;
  padding-left: 6% !important;
  padding-right: 6% !important;
  width: 112%;
  position: relative;
  background-color: #afafaf;
  z-index: 0;
  text-align: center;
}

.contact
{
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: -6%;
  width: 112%;
  position: relative;
  background-color: #eb42f4;
  z-index: 0;
  text-align: center;
}

.footpic
{
  min-width: 100%;
  height: 140px;
  position: fixed;
  object-fit: cover;
  overflow-x: hidden;
  display: block;
  z-index: -3;
  bottom: 0;
}
